
// Descriptive color variables

$grey : #777;
$green : #58e1c1;
$deep-green : #88d9a0;
$lite-blue : #7ee6fd;
$blue : #51ddfc;
$purple : #927bc1;
$lite-purple : #deb2ee;
$peach : #e4757a;
$white : #fff;
$red : #fd7856;
$deep-blue : #4da2bb;
$lite-peach : #fd9f85;
$lite-red : #ec9fa3;
$lite-green : #63cc82;
$turquoise : #80e8d1;

// Media query breakpoint

$brk-narrow : '(max-width: 768px)';

// Font 

$font-family-primary : 'Lato', sans-serif;
$font-weight--medium :300;
$font-weight--bold :700;
$base__font-size : 1.5em;
$base__line : 1.45em;